.kid__container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.kid__content {
    background-color: var(--color10);
    height: 100%;
    width: 100%;
}


@media screen and (max-width: 600px) {
    .kid__container {
        flex-direction: column;
    }   
}
