header {
    grid-area: grid_header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color5);
  }
  
  header .header__logo {
    padding: 10px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 0.2rem;
    font-size: 1.2rem;
  }
  
  header .header__icon {
    padding: 10px;
  }
  